<h2>Create New Candy Profile</h2>
diagnostic {{diagnostic}}
<form (ngSubmit)="onSubmit()" #candyForm="ngForm">
	<label><input [(ngModel)]="model.firstName" type="text" name="firstName" placeholder="first name"></label><br>
	<label><input [(ngModel)]="model.lastName" type="text" name="lastName" placeholder="last name"></label><br>
	<label><input [(ngModel)]="model.nickname" type="text" name="nickname" placeholder="nickname" required></label><br>
	<label><textarea [(ngModel)]="model.description" name="description" placeholder="description"></textarea></label><br>
	<button type="submit">Create</button>
</form>