<h2>My Heroes</h2>
<ul class="heroes">
	<li *ngFor="#hero of heroes"
	    [class.selected]="hero === selectedHero"
	    (click)="onSelect(hero)">
		<span class="badge">{{hero.id}}</span> {{hero.name}}
	</li>
</ul>

<h3>Fucking candies</h3>
<ul class="candies">
	<li *ngFor="#candy of candies">
		<span>{{candy._id}}</span>
		<span *ngIf="candy.firstName">{{candy.firstName}}</span>
		<span *ngIf="candy.lastName">{{candy.lastName}}</span>
		<span *ngIf="candy.nickname">{{candy.nickname}}</span>
		<span *ngIf="candy.description">{{candy.description}}</span>
	</li>
</ul>


<div *ngIf="selectedHero">
	<h2>
		{{selectedHero.name | uppercase}} is my hero
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>